* {
    padding: 0;
    margin: 0;
}
body, button, input{
    font-family: 'Yusei Magic', sans-serif;
}
header {
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFCB77;
}
header form {
    display: inline;
}
.add-item-button {
    border-radius: 5px;
    border: 2px solid #428f3d;
    font-size: 20px;
    padding: 5px;
    margin-left: 20px;
}
input {
    font-size: 20px;
}
li {
    padding: 10px 0 0 10px;
    background-color: #17C3B2;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid black;

}
h1 {
    width: 100%;
}
.create-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
li:hover {
    background-color: #17C3B2;
}
main ul li.done-item {
    background-color: #227C9D;
    text-decoration: line-through;
}
.delete-item-button {
    position: absolute;
    right: 5px;
}